name: Release
on:
  push: { tags: 'v[0-9]+.[0-9]+.[0-9]+*' }
permissions: {}

jobs:
  release:
    uses: nodenv/.github/.github/workflows/release.yml@v6
    permissions: {contents: write, id-token: write}
    secrets:
      NPMJS_TOKEN: ${{ secrets.NPMJS_TOKEN }}
    with:
      homebrew: false
      npm_scope: ''
  sync:
    uses: nodenv/.github/.github/workflows/sync-major-version.yml@v6
    permissions: { contents: write }
    secrets: inherit
