name: Test
on:
  pull_request:
  push: {branches: main}
  schedule: [{cron: '0 0 10 * *'}] # monthly https://crontab.guru/#0_0_10_*_*
  workflow_dispatch:
permissions: {contents: read}

jobs:
  test:
    uses: nodenv/.github/.github/workflows/test.yml@v4
    with: {superlinter: false} # TODO renable superlinter
    permissions:
      contents: read
      packages: read
      id-token: write
      security-events: write
      statuses: write

  superlinter:
    runs-on: ubuntu-latest
    if: github.ref_name != github.event.repository.default_branch
    permissions: {statuses: write}
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with: { fetch-depth: 0 } # super-linter needs full git history
      - uses: github/super-linter/slim@4e51915f4a812abf59fed160bb14595c0a38a9e7 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BASH_EXEC_IGNORE_LIBRARIES: true
          FILTER_REGEX_EXCLUDE: '.*stub.*'
